@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

section {
  /* background-color: blue; */
  max-height: 19.2rem;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.bigWindow {
  top: 7rem !important;
}

::-webkit-scrollbar { 
  display: none; 
}

@media only screen and (max-width: 960px) {
  .bigWindow {
    top: 10rem !important;
  }
}
