@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


section {
  /* background-color: blue; */
  max-height: 19.2rem;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.bigWindow {
  top: 7.5rem !important;
}

::-webkit-scrollbar { 
  display: none; 
}
/*
@media screen and (max-width: 768px) {
  body {
    background-color: blue;
  }
}

@media screen and (max-width: 425px) {
  body {
    background-color: olive;
  }
}

@media screen and (max-width: 375px) {
  body {
    background-color: pink;
  }
}

@media screen and (max-width: 320px) {
  body {
    background-color: yellow;
  }
}
*/