.App {
  text-align: center;
}

section {
  /* background-color: blue; */
  max-height: 19.2rem;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.bigWindow {
  top: 7.5rem !important;
}

::-webkit-scrollbar { 
  display: none; 
}